{:deps true
 ;; write ./.nrepl-port file instead of ./.shadow-cljs/nrepl.port
 :nrepl {:write-port-file true}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn acme.frontend.app/init}}
   :devtools {:watch-dir "public"}}}}
